.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.status {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 12vh;
  
}

.Work-timer {
  display: flex;
  
  justify-content: center;
  height: 50vh;
  margin-top:50;
  margin-bottom:50;
}

.Start-button {
  display: flex;
 
  justify-content: center;
  height: 5vh;
  
}

.Activity-input {
  display: flex;
  
  justify-content: center;
  height: 50vh;
  
}
#parappa {
  position: static;
  
}

