.App {
  text-align: center;
}

.boxStyle {
  margin: 0 auto;

  position: relative;
  transform: translate(0, 50%);
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.status {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 12vh;
}

.Work-timer {
  display: flex;

  justify-content: center;
  height: 37vh;
  margin-top: 20;
  margin-bottom: 20;
}

.Start-button {
  display: flex;

  justify-content: center;
  height: 5vh;
  margin-bottom: 20;
}

.Activity-input {
  display: flex;

  justify-content: center;
  height: 5vh;
}
#parappa {
  position: static;
}
