@import url("https://fonts.googleapis.com/css?family=Roboto");

.Header {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.tomatologo {
  height: 65px;
  padding-bottom: 20px;
}

.boxStyle {
  background-color: white;
  padding: 25px;
  border-radius: 3%;
}

.loginText {
  font-size: 25px;
  font-family: "Roboto", sans-serif;
}

.signupText {
  font-size: 25px;
  font-family: "Roboto", sans-serif;
}
