@import url("https://fonts.googleapis.com/css?family=Roboto");

.Header {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.tomatologo {
  height: 65px;
  padding-bottom: 20px;
}

.boxStyle {
  background-color: white;
  padding: 25px;
  border-radius: 3%;

  position: absolute;
  margin-left: 187.5px;
  bottom: 300px;
}

.loginText {
  font-size: 25px;
  font-family: "Roboto", sans-serif;
}

.signupText {
  font-size: 25px;
  font-family: "Roboto", sans-serif;
}

.content {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 10px;
}

.auto {
  text-align: center;
  margin: 0 auto;
  padding-bottom: 10px;
}
